{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true
  },
  "globals": {
    "axios": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-use-before-define": 2,
    "no-var": 2,
    "quotes": [2, "single"],
    "semi": [2, "always"],

    "prefer-const": 1,
    "space-before-blocks": 1,
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "never"
    }],
    "space-in-parens": 1,
    "space-infix-ops": 1,
    "space-unary-ops": 1,
    "no-unused-vars": [1, "local"],

    "indent": 0,
    "no-console": 0,
    "linebreak-style": 0,
    "no-undef": 0
  }
}