// _toggleswitch
toggle-size = 24px
toggle-off-color = #a69da6
toggle-on-color = #27e143
toggle-border-width = 3px
toggle-padding = 2px

// _forms
underline-active-color = toggle-on-color
underline-inactive-color = toggle-off-color
form-font-color = #808080

